.conversBlock {
  width: 25%;
}
.resumeBlock {
  width: 25%;
}
.messageBlock {
  width: 50%;
}

.contentMessenger {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paper {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 90vh;
}

@media screen and (max-width: 1200px) {
    .paper {
        width: 95vw;
      }
      
  }